%script{:type => 'text/template', :id => 'banner_tmp'}
  = render :partial => 'banner'

%script{:type => 'text/template', :id => 'sidebar_tmp'}
  = render :partial => 'sidebar'

%script{:type => 'text/template', :id => 'home_page_tmp'}
  = render :partial => 'home_page'

%script{:type => 'text/template', :id => 'admin_page_tmp'}
  = render :partial => 'admin_page'

%script{:type => 'text/template', :id => 'upload_page_tmp'}
  = render :partial => 'upload_page'

%script{:type => 'text/template', :id => 'db_info_page_tmp'}
  = render :partial => 'db_info_page'

%script{:type => 'text/template', :id => 'upload_db_tmp'}
  = render :partial => 'upload_db_form'

%script{:type => 'text/template', :id => 'upload_stopwords_tmp'}
  = render :partial => 'upload_stopwords_form'

%script{:type => 'text/template', :id => 'upload_abstract_tmp'}
  = render :partial => 'upload_abstract_form'

%script{:type => 'text/template', :id => 'enter_abstract_tmp'}
  = render :partial => 'enter_abstract_form'


