= javascript_include_tag 'controllers/pfp'
= javascript_include_tag 'views/banner'
= javascript_include_tag 'views/sidebar'
= javascript_include_tag 'views/home_page'
= javascript_include_tag 'views/admin_page'
= javascript_include_tag 'views/upload_page'
= javascript_include_tag 'views/db_info_page'

